/* <!-- add your custom CSS --> */
body {
  font-family: sans-serif;
}

/* Add WA floating button CSS */
.floating {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.fab-icon {
  margin-top: 16px;
}

/* <!-- end css --> */
